<div
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
  *ngIf="error"
>
  <strong>Error!</strong> {{ error }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="onClose()"
  ></button>
</div>
<div class="container">
  <div class="d-flex mt-4 justify-content-center align-items-center gap-3">
    <label for="totalPurchase" class="form-label">Total Purchase:</label>
    <input
      type="number"
      id="totalPurchase"
      class="form-control input-size"
      (change)="onTotalPurchase($event)"
    />
  </div>
  <div class="row mt-5">
    <div class="col-sm-6 payment-system me-4">
      <div
        class="d-flex mt-4 justify-content-between align-items-center gap-3 mb-5"
        *ngIf="creditPoints"
      >
        <label class="form-label">Credits Earned: </label>
        <span>{{ creditPoints.toFixed(0) }}</span>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="creditPoints < 500"
          (click)="onReedemPoints()"
        >
          Reedem
        </button>
      </div>
      <h6>Payment Line:</h6>
      <div class="payments">
        <app-payment-list
          *ngFor="let transaction of payments"
          [amount]="transaction.amount"
          [paymentType]="transaction.paymentType"
          (onDelete)="deletePayment($event)"
        ></app-payment-list>
        <app-payment-list
          [amount]="reedemPoints"
          [paymentType]="'Credit'"
        ></app-payment-list>
      </div>
      <!-- Bottom part -->
      <hr width="100%" class="mt-3" />
      <div class="d-flex justify-content-between align-items-center gap-3 mt-3">
        <span>Total Paid: </span>
        <span>{{ totalPaid }}</span>
      </div>
      <hr width="100%" />
      <div class="d-flex justify-content-between align-items-center gap-3 mt-3">
        <span>Balance: </span>
        <span>{{ balance }}</span>
      </div>
    </div>
    <div class="col-sm-1 vertical-line"></div>
    <div class="col-sm-5">
      <div class="d-flex mt-4 justify-content-between align-items-center gap-3">
        <label class="form-label" for="cash">Cash: </label>
        <input
          type="number"
          id="cash"
          class="form-control"
          [(ngModel)]="cash"
        />
        <button type="button" class="btn btn-primary" (click)="onPaid('Cash')">
          Add
        </button>
      </div>
      <div
        class="d-flex mt-4 justify-content-between align-items-center gap-3 mb-3"
      >
        <label class="form-label" for="card">Card: </label>
        <input
          type="number"
          id="card"
          class="form-control"
          [(ngModel)]="card"
        />
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onPaid('Card')"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
